#sea {
    width: 30vw;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 35vw;
    animation-name: sea-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes sea-animation {
    0% {
        left: 35vw;
    }
    100% {
        left: 35.15vw;
    }
}

#gradient {
    width: 30vw;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 35vw;
    display: none;
}

#last-text {
    position: absolute;
    top: 7vh;
    left: 36.5vw;
    font-size: 1.85rem;
    display: none;
    color: rgb(47, 94, 194);
    font-weight: 600;
}

#qualities {
    position: absolute;
    height: 70vh;
    width: 12.5vw;
    left: 35vw;
    top: 16vh;
    display: none;
}

#daraz {
    position: absolute;
    top: 13.5vh;
    left: 36.5vw;
    font-size: 1.25rem;
    display: none;
    font-weight: 600;
}

#daraz-name {
    font-size: 2.5rem;
    font-weight: 1000;
    color: rgb(255, 145, 0);
    text-shadow: 1px 1px #000000;
}


#bubbles {
    width: 0vw;
    height: 25vh;
    position: absolute;
    bottom: 15vh;
    left: 31.5vw;
}

.bubbles-rising {
    animation-name: bubbles-rising;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes bubbles-rising {
    0% {
        bottom: 5vh;
        width: 37.5vw;
    }
    100% {
        bottom: 100vh;
        width: 37.5vw;
    }
}


#whirl {
    position: absolute;
    width: 14vw;
    aspect-ratio: 1;
    left: 45vw;
    bottom: 5vh;
}

.whirl-invisible {
    display: none;
}

.whirl-circling {
    animation-name: whirl-rotating;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes whirl-rotating {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

#capis-div {
    width: 15vw;
    height: 35vh;
    position: absolute;
    left: 45vw;
    top: 49vh;   
    overflow: hidden;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#capis {
    width: 100%;
    height: 100%;
}

.capis {
    margin-top: 110%;
}

.capis-visible {
    animation-name: capis-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    height: 35vh;
    margin-top: 0%;
}

@keyframes capis-animation {
    0% {
        margin-top: 100%;
    }
    100% {
        margin-top: 0%;
    }
}

.capis-grown {
    animation-name: capis-growing;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    transform: scale(2, 2);
    transform-origin: 50% 100%;
}

@keyframes capis-growing {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(2, 2);
    }
}